*{
    margin: 0%;
    padding: 0px;

}
body{
    background-color: rgb(229, 181, 181);

}
.container{

    width: 80%;
    margin: auto;
    min-height: 100vh;
    background-color: white;


}

input{
padding: 10px;
border: 1px solid #d3d3d3;
width: 50%;
box-sizing: border-box;
outline: none;
font: 100 1.2rem "Lucida Sans";
}

button{
    font: 100 1.2rem "Lucida Sans";
border:1px solid #d3d3d3; 
width: 10%;
    padding: 11px;
    background-color: rgb(11, 11, 12);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}
button:hover{

background-color: rgb(16, 216, 159);


}
.tags{

display: flex;
flex-wrap: wrap;
justify-content: center;

}
.tag{
padding: 20px;
box-sizing: border-box;
background-color:darkred;
width: 30%;
color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 margin: 10px;
 transition: all 0.5s;

}
.tag:hover {
    transform: translateY(-10px);
  }